@model IEnumerable<ShoppingList.Models.ShoppingListNoteViewModel>

@{
    ViewBag.Title = "NoteIndex";
}

<div style="display: inline-block;">
    <h2>Shopping List Items</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 2.2%;">
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Add New Note", "CreateNote", "ShoppingListNote", new { Id = Url.RequestContext.RouteData.Values["id"] }, null)</button>
</div>

<hr style="border: 1px solid black" />

<table class="table">
    <tr style="background-color: #ffcc99;  border: 1px solid black;">
        <th style="border: 1px solid black; text-align: center" class="col-lg-10">
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th style="border: 1px solid black; text-align: center">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                <button type="submit">@Html.ActionLink("Delete", "DeleteNote", "ShoppingListItem", new { Id = item.NoteId, ShoppingLisItemtId = item.ShoppingListItemId }, null)</button>
            </td>
        </tr>
    }

</table>

<p class="table">
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Back to Item", "ItemIndex", "ShoppingListItem", new { Id = Url.RequestContext.RouteData.Values["id"] }, new { style = "color:white" })</button>
</p>
