@using ShoppingList.Models
@model ShoppingList.Models.ShoppingListPageViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Lists</h2>

<p class="table">
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Create New", "Create", "ShoppingList", null, new { style = "color:white" })</button>
</p>

<hr style="border: 1px solid black" />

@{ Html.BeginForm("DeleteChecked", "ShoppingListItem", FormMethod.Post, new { Name = "table" });}
<table class="table">
    <tr style="background-color: #ffcc99; border: 1px solid black;">
        <th style="border: 1px solid black; text-align: left" class="col-sm-10">
            @Html.ActionLink("Name", "Index", new { SortOption = Model.Criteria.SortOption == ShoppingListSortOption.NameAsc ? ShoppingListSortOption.NameDesc : ShoppingListSortOption.NameAsc })
        </th>
        <th style="border: 1px solid black; text-align: center" class="col-sm-2">
            Options
        </th>
    </tr>

    @foreach (var item in Model.Lists)
    {
        <tr>
            <td style="border: 1px solid black">
                @Html.ActionLink(item.ListName, "ItemIndex", "ShoppingListItem", new { id = item.ListId }, null)
            </td>
            <td style="border: 1px solid black; text-align: center">
                <div class="btn-group btn-group-xs">
                        <button type="button">@Html.ActionLink("Show", "ItemIndex", "ShoppingListItem", new { id = item.ListId }, null)</button> 
                        <button type="button">@Html.ActionLink("Delete", "Delete", new { id = item.ListId })</button>
                </div>
            </td>
        </tr>
    }
</table>


