@model IEnumerable<ShoppingList.Models.ListOfListsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Lists</h2>

<p class="table">
    @Html.ActionLink("Create New", "Create", "Lists", new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListName)
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ListName, "Details", new { id = item.ListId })
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Show", "Details", new { id = item.ListId })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ListId })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
