@model IEnumerable<ShoppingList.Models.ShoppingListItemsViewModel>

@{
    ViewBag.Title = "Index";
}

<div style="display: inline-block;">
    <h2>Shopping List Items</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 2.2%;">
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Add New Item", "CreateItem", "ShoppingListItem", new { Id = Url.RequestContext.RouteData.Values["id"]}, null)</button>
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Delete all items in DB", "DeleteAllItems")</button>
</div>

<hr style="border: 1px solid black" />

<table class="table">
    <tr style="background-color: #ffcc99;  border: 1px solid black;">
        <th style="border: 1px solid black; text-align: center" class="col-sm-1"></th>
        <th style="border: 1px solid black; text-align: center" class="col-lg-9">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th style="border: 1px solid black; text-align: center">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; text-align: center;">
                <input type="checkbox" name="DeletedIds" class="CheckBoxId" value="@item.ItemId" />            </td>
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                <button type="submit">@Html.ActionLink("Delete", "DeleteItem", "ShoppingListItem", new { Id = item.ItemId, ShoppingListId = item.ShoppingListId }, null)</button>
                <button type="submit">@Html.ActionLink("Notes", "NoteIndex", "ShoppingListNote", new { Id = item.ItemId, ShoppingListId = item.ShoppingListId }, null)</button>
            </td>
        </tr>
    }
</table>

<p class="table">
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Back to Shopping Lists", "Index", "ShoppingList", null, new { style = "color:white" })</button>
</p>

@{Html.EndForm();}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#checkBoxAll')
                .css({ "cursor": "pointer" })
                .click(function () {
                if ($(this).is(":checked"))
                    $('.CheckBoxId').prop('checked', true);
                else
                    $('.CheckBoxId').prop('checked', false);
            });
        });
    </script>
}