@model IEnumerable<ShoppingList.Models.ShoppingListItemsViewModel>

@{
    ViewBag.Title = "ItemIndex";
}

<div style="display: inline-block;">
    <h2>Shopping List Items</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 2.2%;">
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Add New Item", "CreateItem", "ShoppingListItem", new { Id = Url.RequestContext.RouteData.Values["id"] }, null)</button>
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Delete all items", "DeleteAllItems")</button>
    <button type="button" style="background-color: #ffcc99;" onclick="javascript: (function () { document.checked.submit(); return void (0); })();">Delete Checked Items</button>
</div>

<hr style="border: 1px solid black" />

@{ Html.BeginForm("DeleteChecked/" + Url.RequestContext.RouteData.Values["id"].ToString(), "ShoppingListItem", FormMethod.Post, new { Name = "checked" });}
<table class="table">
    <tr style="background-color: #ffcc99;  border: 1px solid black;">
        <th style="border: 1px solid black; text-align: center" class="col-sm-1">
            <input type="checkbox" id="checkAll"
        </th>
        <th style="border: 1px solid black; text-align: center" class="col-lg-6">
            @Html.ActionLink("Content", "ItemIndex", new { sortOrder = ViewBag.ContentsSortOrder, currentFilter = ViewBag.CurrentFilter, id = Url.RequestContext.RouteData.Values["id"] })
        </th>
        <th style="border: 1px solid black; text-align: center" class="col-lg-3">
            @Html.ActionLink("Priority", "ItemIndex", new { sortOrder = ViewBag.PrioritySortOrder, currentFilter = ViewBag.CurrentFilter, id = Url.RequestContext.RouteData.Values["id"] })
        </th>
        <th style="border: 1px solid black; text-align: center" class="col-lg-2">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; text-align: center;">
                <input type="checkbox" name="CheckedIds" class="CheckBoxId" value="@item.ItemId" /></td>
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                <button type="submit">@Html.ActionLink("Notes", "NoteIndex", "ShoppingListNote", new { id = item.ItemId }, null)</button>
                <button type="submit">@Html.ActionLink("Edit", "EditItem", "ShoppingListItem", new { id = item.ItemId, ShoppingListId = item.ShoppingListId }, null)</button>
                <button type="submit">@Html.ActionLink("Delete", "DeleteItem", "ShoppingListItem", new { id = item.ItemId, ShoppingListId = item.ShoppingListId }, null)</button>
            </td>
        </tr>
    }
</table>
@{Html.EndForm();}

<p class="table">
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Back to Shopping Lists", "Index", "ShoppingList", new { Id = Url.RequestContext.RouteData.Values["id"] }, new { style = "color:white" })</button>
</p>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#checkAll')
                .css({ "cursor": "pointer" })
                .click(function () {
                if ($(this).is(":checked"))
                    $('.CheckBoxId').prop('checked', true);
                else
                    $('.CheckBoxId').prop('checked', false);
            });
        });
    </script>
}