@model IEnumerable<ShoppingList.Models.ShoppingListItemsViewModel>

@{
    ViewBag.Title = "Index";
}

<div style="display: inline-block;">
    <h2>Shopping List Items</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 2.2%;">
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Add New Item", "CreateList", "ShoppingListItem", new { Id = Url.RequestContext.RouteData.Values["id"]}, null)</button>
    <button type="button" style="background-color: #ffcc99;">@Html.ActionLink("Delete all items in DB", "DeleteAllItems")</button>
</div>

<hr style="border: 1px solid black" />

<table class="table">
    <tr style="background-color: #ffcc99;  border: 1px solid black;">
        <th style="border: 1px solid black; text-align: center" class="col-sm-1"></th>
        <th style="border: 1px solid black; text-align: center" class="col-lg-10">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th style="border: 1px solid black; text-align: center">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td style="border: 1px solid black; text-align: center;">
                <button type="submit">@Html.ActionLink("Delete", "DeleteItem", "ShoppingListItem", new { Id = item.ItemId, ShoppingListId = item.ShoppingListId }, null)</button>
            </td>
        </tr>
    }

</table>

@{Html.EndForm();}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.chkCheckBoxId').prop('checked', true);
                else
                    $('.chkCheckBoxId').prop('checked', false);
            });
        });
    </script>
}